* {
    border: none;
    border-radius: 0;
    font-family: Cartograph CF Nerd Font, monospace;
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window#waybar {
    background: rgba(21, 18, 27, 0);
    color: #cdd6f4;
}

tooltip {
    background: #2F3136;
    border-radius: 10px;
}

#workspaces button.active {
    color: rgba(255, 255, 255, 0.7);
}

#workspaces button {
    padding: 5px;
    color: #202225;
    margin-right: 5px;
}

#workspaces button:hover {
    background: #42464D;
    color: rgba(255, 255, 255, 0.7);
    border-radius: 10px;
}

#workspaces button.focused {
    color: #a6adc8;
    background: #eba0ac;
    border-radius: 10px;
}

#workspaces button.urgent {
    color: #11111b;
    background: #a6e3a1;
    border-radius: 10px;
}

#window,
#clock,
#battery,
#pulseaudio,
#workspaces,
#tray,

#backlight {
    background: #2F3136;
    padding: 0px 10px;
    margin: 3px 0px;
    margin-top: 10px;
    border: 1px solid #181825;
}

#tray {
    border-radius: 10px;
    margin-right: 10px;
}

#workspaces {
    background: #2F3136;
    border-radius: 10px;
    margin-left: 10px;
    padding-right: 0px;
    padding-left: 5px;
}

#window {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 10px 10px 10px 10px;
    margin-left: 60px;
    margin-right: 60px;
}

#clock {
    color: rgba(255, 255, 255, 0.7);
    border-radius: 10px 10px 10px 10px;
    margin-left: 5px;
    border-right: 0px;
}

#pulseaudio {
    color: rgba(255, 255, 255, 0.7);
    border-left: 0px;
    border-right: 0px;
    border-radius: 10px 0px 0px 10px;
}

#pulseaudio.microphone {
    color: rgba(255, 255, 255, 0.7);
    margin-right: 5px;
    border-radius: 0 10px 10px 0;
}
